* {
    padding-left: 35px;
}

div a {
    text-decoration: none;
    color: rgb(254, 255, 254);
    padding: 0px 32.3px 29px;
    text-align: center;
    background-color: rgb(39, 39, 39);
    text-align: center;
}

div a:hover {
    background-color: black;
    text-decoration: underline rgb(254, 255, 254);
    border-radius: 6px;
}

div {
    background-color: rgb(39, 39, 39);
    height: 46px;
    box-shadow: 4px 4px 4px rgb(66, 66, 66);
    width: 1320px;
}

.color {
    color: red;
}

.color:hover {
    color: rgb(5, 163, 90);
    text-decoration: underline;
}

.color:active {
    color: rgb(9, 204, 113);
    text-decoration: underline;
}

header {
    background-color: rgb(59, 58, 58);
    height: 40px;
    border-radius: 7px;
    text-align: center;
}

.border-radius2 {
    border: 6px solid rgb(39, 39, 39);
    border-radius: 6px;
    padding: 30px 0px 0;
    display: inline-block;
}

.border-radius2 a {}

p {
    width: 750px;
}

pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0;
}

.ql-bubble .ql-editor pre.ql-syntax {
    background: hsla(0, 0%, 85%, .25);
    border: 0px solid rgba(0, 0, 0, .05);
    color: #000;
    overflow-x: auto;
    padding: 0.5em;
}

.ql-bubble .ql-editor pre.ql-syntax {
    background-color: #23241f;
    color: #f8f8f2;
    overflow: visible;
    max-width: 100%;
}

.ql-bubble .ql-editor pre {
    white-space: pre-wrap;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px 10px;
}

.ql-bubble .ql-editor code,
.ql-bubble .ql-editor pre {
    background-color: #f0f0f0;
    border-radius: 3px;
}

.ql-editor blockquote,
.ql-editor ol,
.ql-editor p,
.ql-editor pre,
.ql-editor ul {
    margin-bottom: 33px !important;
}

.ql-editor blockquote,
.ql-editor h1,
.ql-editor h2,
.ql-editor h3,
.ql-editor ol,
.ql-editor p,
.ql-editor pre,
.ql-editor ul {
    min-width: 100%;
}

.ql-editor blockquote,
.ql-editor h1,
.ql-editor h2,
.ql-editor h3,
.ql-editor h4,
.ql-editor h5,
.ql-editor h6,
.ql-editor ol,
.ql-editor p,
.ql-editor pre,
.ql-editor ul {
    margin: 0;
    padding: 0;
    counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
}

.ql-bubble,
.ql-bubble * {
    box-sizing: border-box;
}

.ql-editor>* {
    cursor: text;
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
    margin: 0;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

pre {
    display: block;
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 90%;
    color: #292b2c;
}

pre {
    background-color: aliceblue;
    width: 1255px;
    padding-left: 35px;
    border: #23241f;
}

.ql-bubble .ql-editor pre.ql-syntax {
    background: hsla(0, 0%, 85%, .25);
    border: 0px solid rgba(0, 0, 0, .05);
    color: #000;
    overflow-x: auto;
    padding: 0.5em;
}

p {
    padding-left: 50px;
}